{{define "bottom"}}
</main>
<footer>
    <h2>Te learn how to built this blog software visit:</h2>
    <ul>
        <li><a href="https://twitter.com/quii">Twitter</a></li>
        <li><a href="https://github.com/quii">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}